
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>

    <main class="main">
          <%- include('./partials/sidebar.ejs') %>

     <section class="contents">
             <div class="container">
                 <div class="row">
                     <div class="col-md-8">
                         <h1 class="display-1 mb-5">About Celiac Companion</h1>
                         <p class="pt-5">Some of my family members have gluten intolance and I understand how difficult
                              it is to locate places that provide safe foods for them while traveling
                              so I decided to build this website to be of help for my family and others like us.
                         </p>
                         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum a aperiam aut provident consectetur voluptas sint deserunt corporis fuga esse expedita, voluptate accusamus, explicabo nisi aliquam! Ducimus exercitationem soluta rem.</p>
                         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum a aperiam aut provident consectetur voluptas sint deserunt corporis fuga esse expedita, voluptate accusamus, explicabo nisi aliquam! Ducimus exercitationem soluta rem.</p>
                         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum a aperiam aut provident consectetur voluptas sint deserunt corporis fuga esse expedita, voluptate accusamus, explicabo nisi aliquam! Ducimus exercitationem soluta rem.</p>
                         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum a aperiam aut provident consectetur voluptas sint deserunt corporis fuga esse expedita, voluptate accusamus, explicabo nisi aliquam! Ducimus exercitationem soluta rem.</p>
                         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum a aperiam aut provident consectetur voluptas sint deserunt corporis fuga esse expedita, voluptate accusamus, explicabo nisi aliquam! Ducimus exercitationem soluta rem.</p>
                         <em>Shoog AlDigheari</em>
                     </div>
                 </div>
             </div>         
         
         </section>
 </main>
 
     <%- include('./partials/footer.ejs') %>