
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <div><h1>About Celiac Companion</h1>
    <p>Some of my family members have gluten intolance and I understand how difficlut
         it is to locate places the provide safe food for them while we are traveling
         so I decided to build this we site to be of help for my family and others like us.

    </p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum a aperiam aut provident consectetur voluptas sint deserunt corporis fuga esse expedita, voluptate accusamus, explicabo nisi aliquam! Ducimus exercitationem soluta rem.</p>
    <em>Shoog Ahmed</em>
    </div>
    <%- include('./partials/footer.ejs') %>

