
    <%- include('./partials/header.ejs') %>

    <!-- <header><h1>Manage Celiac Companion</h1></header> -->
    <!-- <section class="banner">
        <img src="/img/banner.png" alt="">
        <div class="welcome">
            <h2>Welcome to <br><span>Celiac Companion</span></h2>
        </div>
    </section> -->
    <%- include('./partials/nav.ejs') %>

    <!-- <main>
   

    </main> -->

<%- include('./partials/footer.ejs') %>
