
*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body{
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  background-color: #f6f4ea;
}

@media (max-width: 767px){
  *{
font-size: 10px;
  }
}

a {
  transition: 0.5s;
}
a:hover,
a:active,
a:focus {
  color: #6c9c94;
  outline: none;
  text-decoration: none;
}

p, h1, h2, h3, a, ul{
color: #222;
}

p{
text-indent: 30px;
}

form{
  max-width: 60em;
  margin: 0 auto;
  padding: 2em;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: white;
}

input, textarea, select{
  display: block;
  width: 100%;
  padding: 8px;
}
input{
  border: 1px solid #ddd;
}

textarea{
  height: 10em;
}
form h2{
    font-size: 2.4em;
    font-weight: 900;
    margin-bottom: 40px;
  }

  input, select{
    padding: 10px 12px;
    border-radius: 5px;
    font-size: 1em;
    width: 80%;
  }
  label{
    display: block;
    margin: 10px 0 10px;
  }

.main{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: .5em;
  min-height: 100vh;
}

.contents{
  padding: 2rem 1rem 5rem 1rem;
  margin: .5rem;
  border-radius: 25px;
}

.site-logo{
  height: 5rem;
  }

  .c-item {
    height: 40rem;
  }
  .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }

  .card{
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 1000px;
    height: 20em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: white;
    text-align: center;
    padding: 1.5em;
    margin: 1.5em;
    border-radius: 25px;
    border-left: 6px solid #6d4c51;  
    align-items: center;
    justify-content: center;
  }
  
  .submit-btn{
    margin-top: 30px;
    border-radius: 36px;
    background: #FEE996;
    border:0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    display: block;
    padding: 10px 16px;
    letter-spacing: 2px;
  }
 
  
.error{
  color: #6c9c94;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}

.delete {
  position: relative;
  text-decoration: none;
  border-radius:25%;
}

.delete:hover{
  cursor:pointer;
}
/* Pagination links */
.pagination a {
  color: #222;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: #6d4c51;
  color: #f6f4ea;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}




/* partials */

  /* sidebar */

.sidebar{
  padding: 2rem 1rem;
  margin: .5rem;
  border-radius: 25px;
  background-color: #e39582;
}

.sidebar h3{
  color:#222;
  font-size: 0.75rem;
  margin-bottom: 0.5em;
}

.sidebar .sidebar-menu{
  margin: 0 -0.5rem;
}

.sidebar .sidebar-menu .menu-item{
  display:block;
  font-weight: 300;
  padding: .5em;
  color: #f6f4ea;
  text-decoration: none;
  transition: 0.2s linear;
}

.sidebar .sidebar-menu .menu-item:hover{
  color:#6c9c94;
  border-right: 5px solid #6c9c94;
}

@media (max-width:1024px){
  .sidebar{
    min-width: 128px;
  }
}
  /* navbars */
  .nav-link{
    padding: 0;
  }

  .navbar{
    padding:.2em;
  }
  .navbar-toggler:focus{
    box-shadow: none;
  }

  .nav-item a{
    transition: 1s;
  }
  .nav-item a:hover{
    color: #701423 !important
    }

  .mid-nav{
    background-color: #6c9c94;
  }
  
  @media(max-width:767px){
  .ul-bg{
    background-color: #9fbfb4;
    }
  }
  
  .top-nav{
    background: #de9d5f;
    background-image: url('img/crinkledBrownPaper.jpg');
    background-image:
    linear-gradient(to bottom, rgba(76, 62, 93, 0.5), rgba(49, 46, 60, 0.9)),
    url('img/crinkledBrownPaper.jpg');
    background-size: cover;
  }

  @media (max-width:1024px){
    .top-nav ul li {
      text-align: center;
    }
    .top-nav ul li p{
      text-indent: 0;
    }
  }
 

  /* footer */

  .footer{
    position: relative;
    padding: 5em 5em 0em 5em;
    background: #de9d5f;
    background-image: url('img/crinkledBrownPaper.jpg');
    background-image:
    linear-gradient(to bottom, rgba(76, 62, 93, 0.5), rgba(49, 46, 60, 0.9)),
    url('img/crinkledBrownPaper.jpg');
    background-size: cover;
}

.footer .footer-about,
.footer .footer-contacts,
.footer .footer-links{
    position: relative;
    margin-bottom: 3em;
    color: #f6f4ea;
}

.footer .footer-about h3,
.footer .footer-contacts h3,
.footer .footer-links h3{
    position: relative;
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: 700;
    color: #f6f4ea;
}

  .footer .footer-copyright{
      text-align: center;
  }
  .footer .footer-copyright p {
    text-indent:0;
      margin-bottom: 5px;
      color:#f6f4ea;
  }
.footer .footer-about p {
  color: #f6f4ea;
}
.footer .footer-contacts p {
  text-indent:0;
  margin-bottom: 1em;
  font-size: 16px;
  color: #f6f4ea;
}

.footer .footer-contacts i {
  margin-right: 10px;
  font-size: 16px;
  color: #f6f4ea;
}
.footer .footer-contacts a:hover i {
  color: #6d4c51;
}
.footer .footer-links a {
  margin-bottom: 1em;
  padding-left: 1em;
  color: #f6f4ea;
  display: block;
}
.footer .footer-links a:hover {
  color: #6d4c51;
}

@media(max-width:767px){
.footer-logo{
  text-align:center;
  margin-bottom: 3em;
}
}

.back-to-top{
  position: fixed;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color:#e39582;
}



/* places */

.places{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 2rem;
}

.place-logo{
  border-radius: 25px;
  width: 10rem; 
  height: auto;
  margin: 3rem 0;
}
.place-info{
  font-size: 2rem;
  padding: 1em;
  margin: .5rem;
  line-height:1;
  letter-spacing: 1px;
}

.place-name-en{
  font-size: 0.5em;
  letter-spacing: 2px;
}

.place-name-ar, .place-city{
  font-weight: 300;
}
.place-info a{
  text-decoration: none;
}

@media (min-width: 600px){

  .card{
    flex-direction: row;
    align-items: flex-start;
    justify-content:left
  }

  .place-info{
    text-align: left;
    margin-left: 2em;
  }
}



/* recipes */

.recipe .recipe-img{
  border: 1px solid #ddd; 
  border-radius: 5px;  
  width: 25em;
  height: auto;
  margin: 1em;
}

.recipe{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-top: 6px solid #6d4c51;
  background-color: white;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 0.5em;
}

.recipe a{

  text-decoration: none;
  padding: 2em;
  text-align: center;
}

.recipes{
    display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 1em;
    margin: 2em;
    
}

.recipe-img-details{
  width: 25rem;
}

@media (max-width: 900px){

  
.recipe .recipe-img{
 
  width: 16em;
  
}

.recipes{
    display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1em;
    margin: 0.5em;
    
}

.recipe-img-details{
  width: 25rem;
}

}