<%- include('../partials/header.ejs') %>


<%- include('../partials/nav.ejs') %>

<main class="main">
<%- include('../partials/sidebar.ejs') %>

<div class="contents">
  <h2 class="mb-5">Add Recipe</h2>
    <form action="/recipes" method="POST" enctype="multipart/form-data">
      <label for="recipe_name">Recipe Name:</label>
      <input type="text" id="recipe_name" name="recipe_name" required>
      <label for="ingredients">Ingredients:</label>
      <textarea id="ingredients" name="ingredients" required></textarea>
      <label for="directions">Directions:</label>
      <textarea id="directions" name="directions" required></textarea>
      <label for="picture">Upload a recipe picture</label>
      <input type="file" id="picture" name="picture"><br>
      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </div>

</main>

<%- include('../partials/footer.ejs') %>
